td {
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
}

table {
	table-layout: fixed;
	width: 100%
}

table.tblClass {
	width: 100%;
	border-collapse: collapse;
}

.tblClass caption {
	padding-bottom: 0.5em;
	font-weight: bold;
	font-size: 16px;
}

.tblClass th, .tblClass td {
	padding: 4px 8px;
	border: 2px solid #fff;
	background: #fbd7b4;
}

.tblClass thead th {
	padding: 2px 8px;
	background: #f69546;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
}

.tblClass tbody tr:nth-child(odd) *:nth-child(even), .tblClass tbody tr:nth-child(even) *:nth-child(odd) {
	background: #f3eddd;
}

.tblClass tfoot th {
	padding: 2px 8px;
	background: #f69546;
	text-align: left;
	font-weight: normal;
	font-size: 10px;
	color: #fff;
}

.tblClass tr *:nth-child(3), .tblClass tr *:nth-child(4) {
	text-align: right;
}

td.wrappedClass {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

td.wrappedClass:hover {
	white-space: normal !important;
	color: black;
}

.button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background: -moz-linear-gradient(top, #f69546 5%, #fb9e25 100%);
	background: -webkit-linear-gradient(top, #f69546 5%, #fb9e25 100%);
	background: -o-linear-gradient(top, #f69546 5%, #fb9e25 100%);
	background: -ms-linear-gradient(top, #f69546 5%, #fb9e25 100%);
	background: linear-gradient(to bottom, #f69546 5%, #fb9e25 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f69546', endColorstr='#fb9e25', GradientType=0);
	background-color: #f69546;
	-webkit-border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 6px 24px;
}
